doctype html
html(lang='en')
  head
    title #{title}
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
      nav
        img(src="/images/Logo.png" class='logoImage' width="113" height="113")
        a(class='logoName') Smart Weather
      block content
      footer
        a 2019 - PRODE